#contact {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #ffffff;
  height: 700px;
  border: 3px solid #949494;
}

#CM {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px 0;
  margin: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  color: #4aaaa5;
  font-weight: bold;
  font-size: 27px;
  border-bottom: 3px solid #949494;
}

textarea {
  clear: both;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 10em;
}

input[type=text], select {
  clear: both;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 15%;
  background-color: #4aaaa5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #347774;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

@media screen and (max-width: 980px) {
  #contact {
    width: 66%;
    margin-bottom: 30px;
    margin-left: 40px;
  }
  #name {
    margin-left: 40px;
  }
  input[type=submit] {
    width: 25%;
    margin-top: 0;
  }
  
}

@media screen and (max-width: 768px) {
  #contact {
    width: 90%;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #name {
    margin-left: 20px;
  }
  input[type=submit] {
    width: 25%;
    margin-top: 0;
  }
}

@media screen and (max-width: 640px) {
  #about-me {
    width: 90%;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .top_bar, #name, .nav {
    width: 100%;
  }
  header {
    height: 75px;
  }
  #name {
    margin: 0;
    text-align: center;
  }
  .nav {
    padding: 20px;
    margin-top: 55px;
    text-align: center;
    position: relative;
  }
  input[type=submit] {
    width: 25%;
    margin-top: 0;
  }
}