

body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-image: url(../images/60degree_gray.png);
    background-color: #efeee7;
}

.content{
       min-height: calc(100vh - 70px)
}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    padding: 50px;
    background-color: #ffffff;
    border-bottom: 3px solid #949494;
    }

#name{
    color: #ffffff;
    background: #4aaaa5;
    width: 240px;
    padding: 36.5px;
    margin-left: 390px;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    position:absolute; top:0; left:0;

}

nav{
    position:absolute; right:50px;
}

.nav-link {
    padding: 0px 5px 0px 3px;
    border-right: 2px solid #949494;
    color: #333;
    text-decoration: none;
}

.nav-link:last-child {
    border-right: none;
}


#about-me{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #ffffff;
    height: 500px;
    border: 3px solid #949494;
}

#AM{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 0;
    margin: 20px;
    font-size: 28px;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 27px;
    border-bottom: 3px solid #949494;

}

img{
    height: 300px;
    width: 225px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

aside{
    margin: 40px;
}

.p1{
    margin-bottom: 20px;
}

footer{
    color: #ffffff;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    height: 70px;
    width: 100%;
}

#foot{
    margin-top: 43px;
}
